<div class="container">
<h1 id="mainHeading">Products</h1>
<div id="productsList" *ngFor="let product of products; index as productIndex">

    ID : <input #productId type="number" value="{{product.id}}"
                [disabled]="true">
    &nbsp; &nbsp;
    Name : <input #productName type="text" value="{{product.name}}"
                    [disabled]="productIndex !== productIndexUnderEditing">
    &nbsp; &nbsp;
    Price : <input #productPrice type="number" value="{{product.price}}"
                    [disabled]="productIndex !== productIndexUnderEditing">
    &nbsp; &nbsp;

    <div *ngIf="productIndex !== productIndexUnderEditing; then EditOrDelete; else SaveOrCancel"></div>
    <ng-template #EditOrDelete>
        <button type="button" class="btn btn-primary" [disabled]="productIndexUnderEditing !== null"
                (click)="productIndexUnderEditing = productIndex">Edit
        </button>
        
        &nbsp; &nbsp;
        <button type="button" class="btn btn-danger" [disabled]="productIndexUnderEditing !== null"
                (click)="deleteProduct(product.id)">Delete
        </button>
    </ng-template>
    
    <ng-template #SaveOrCancel>
        <button type="button" class="btn btn-success"
                (click)="updateProduct(+productId.value, productName.value, +productPrice.value)">Save
        </button>
        
        &nbsp; &nbsp;
        <button type="button" class="btn btn-secondary" (click)="productIndexUnderEditing = null;
                productName.value = product.name; productPrice.value = product.price">Cancel
        </button>
    </ng-template>
</div>
<br>

<div *ngIf="isAddingNewProduct === false; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
    <button type="button" class="btn btn-outline-secondary"
            (click)="isAddingNewProduct = true">Add Product
    </button>
</ng-template>
<ng-template #elseBlock>
    ID : <input #newProductId type="number">
    &nbsp; &nbsp;
    Name : <input #newProductName type="text">
    &nbsp; &nbsp;
    Price : <input #newProductPrice type="number">
    &nbsp; &nbsp;

    <button type="button" class="btn btn-success"
        (click)="addProduct(+newProductId.value, newProductName.value, +newProductPrice.value)">
        Add
    </button>
    &nbsp; &nbsp;
    <button type="button" class="btn btn-secondary"
            (click)="isAddingNewProduct = false">Cancel
    </button>
</ng-template>
</div>
